<template name="videoDiscussion">
	<h1>{{title}}</h1>
	<div class="row">
		<div class="col-md-6">
			<iframe width="560" height="315" src="//{{url}}" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="col-md-6">
			<div class="well well-size">
				{{#each comments}}
					{{> comment}}
				{{/each}}
			</div>
		</div>
	</div>
	<div class="row well">
		{{#if currentUser}}
			<form id="comment-form">
				<div class="form-group comment-section">
					<input id="message" type="textarea" class="form-control">
					<br>
					<input type="submit" class="btn btn-primary pull-right" id="submit">
				</div>
			</form>
		{{else}}
			<p>Please <a href="/sign-in">sign in</a> to comment.</p>
		{{/if}}
	</div>
</template>