<template name="videoSubmit">
	<div class="row">
		<h2>Submit a new video</h2>
	</div>
	{{#if currentUser}}
		<div class="row">
			<div class="form-group">
				<div class="form-group">
				    <label for="videoURL">Video URL</label>
				    <input type="text" class="form-control" id="videoURL">
				  </div>
			</div>
			<div class="form-group">
				<div class="form-group">
				    <label for="title">Title</label>
				    <input type="text" class="form-control" id="title">
				  </div>
			</div>
			<button class="btn btn-primary pull-right" id="submit">Submit</button>
		</div>
	{{else}}
		<div class="row">
			<p>Why u no <a href="/sign-in">signed in</a>?</p>
		</div>
	{{/if}}
</template>